{% extends 'board/base.html' %}
{% block content %}
<script>
    function_add_tab {
        $('#btnAdd').click(function (e) {
        var nextTab = $('#tabs li').size()+1;

        // create the tab
        $('<li><a href="#tab'+nextTab+'" data-toggle="tab">Tab '+nextTab+'</a></li>').appendTo('#tabs');

        // create the tab content
        $('<div class="tab-pane" id="tab'+nextTab+'">tab' +nextTab+' content</div>').appendTo('.tab-content');

        // make the new tab active
        $('#tabs a:last').tab('show');
    });
    https://www.it-swarm.dev/ko/javascript/bootstrap%EC%97%90%EC%84%9C-%EB%8F%99%EC%A0%81%EC%9C%BC%EB%A1%9C-%ED%83%AD-%EC%B6%94%EA%B0%80-%EC%A0%9C%EA%B1%B0%EC%83%9D%EC%84%B1-%EB%90%9C-%ED%83%AD%EC%9D%84-%ED%99%9C%EC%84%B1%ED%99%94%ED%95%A9%EB%8B%88%EB%8B%A4/1047536595/
}
</script>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#contact_01" data-toggle="tab">Joe Smith</a><span>x</span></li>
        <li><a href="#contact_02" data-toggle="tab">Molly Lewis</a><span>x</span> </li>
        <li><a href="#" class="add-contact" data-toggle="tab">+ Add Contact</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="contact_01">Contact Form: Joe Smith</div>
        <div class="tab-pane" id="contact_02">Contact Form: Molly Lewis</div>
    </div>
</div>
{% endblock %}