# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\my\pythonProject_team\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
